In [ ]:

# list with 25 values
numbers_list = [1, 5, 8, 12, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115]

# dictionary with 20 key-value pairs 
{
    'US': 'United States',
    'CA': 'Canada',
    'MX': 'Mexico',
    'BR': 'Brazil',
    'GB': 'United Kingdom',
    'FR': 'France',
    'DE': 'Germany',
    'JP': 'Japan',
    'CN': 'China',
    'IN': 'India',
    'AU': 'Australia',
    'ZA': 'South Africa',
    'RU': 'Russia',
    'IT': 'Italy',
    'ES': 'Spain',
    'KR': 'South Korea',
    'SG': 'Singapore',
    'AE': 'United Arab Emirates',
    'AR': 'Argentina',
    'NG': 'Nigeria'
}

In [2]:
country_codes

{'US': 'United States',
 'CA': 'Canada',
 'MX': 'Mexico',
 'BR': 'Brazil',
 'GB': 'United Kingdom',
 'FR': 'France',
 'DE': 'Germany',
 'JP': 'Japan',
 'CN': 'China',
 'IN': 'India',
 'AU': 'Australia',
 'ZA': 'South Africa',
 'RU': 'Russia',
 'IT': 'Italy',
 'ES': 'Spain',
 'KR': 'South Korea',
 'SG': 'Singapore',
 'AE': 'United Arab Emirates',
 'AR': 'Argentina',
 'NG': 'Nigeria'}

## Conditional operator

In [ ]:
number = 14
print(f"{number} is {'even' if number % 2 == 0 else 'odd'}.")
score = 85

print(f"The student {'passed' if score >= 60 else 'failed'}.")

is_active = False
print("User status: Active" if is_active else "User status: Inactive")

14 is even.
The student passed.
User status: Inactive

## Logical operator

In [4]:
age = 65
is_member = True
print("Eligible for  member discount." if age >= 65 and is_member else "Not eligible.")

# 
user_role = "admin"
print("Access granted." if user_role == "admin" or user_role == "manager" else "Access denied.")

#  
weather = "sunny"
temperature = 28
print("Great day for a trip!" if weather == "sunny" and temperature > 25 else "Maybe stay home.")

Eligible for  member discount.
Access granted.
Great day for a trip!

## Aggregation operator

In [ ]:

daily_sales = [500.50, 750.00, 1200.75, 950.25]
print(f"Total revenue for the day: ${sum(daily_sales):.2f}")


data_points = [10, 25, 3, 45, 18]
print(f"The maximum value is: {max(data_points)}")


cart = ["laptop", "mouse", "keyboard"]
print(f"You have {len(cart)} items in your cart.")


temperatures = {28, 15, 22, 19, 31}
print(f"The lowest temperature recorded was: {min(temperatures)}°C")


user_visits = ["homepage", "about", "contact", "homepage", "contact"]
print(f"Number of unique pages visited: {len(set(user_visits))}")

Total revenue for the day: $3401.50
The maximum value is: 45
You have 3 items in your cart.
The lowest temperature recorded was: 15°C
Number of unique pages visited: 3